@import '../../config/prefixClass.less';

@formPrefixCls: ~'@{prefixClass}-form';
@formItemPrefixCls: ~'@{formPrefixCls}-item';

.@{formPrefixCls} {
  .adm-checkbox .adm-checkbox-custom-icon,
  .adm-radio .adm-radio-custom-icon {
    display: inline-flex;
    align-items: center;
  }
}
