@import '../../config/prefixClass.less';

@prefixCls: ~'@{prefixClass}-form';

.@{prefixCls} {
  .adm-input {
    --font-size: var(--font-size);
  }

  .adm-text-area {
    --font-size: var(--font-size);
  }
}
