@import '../../config/prefixClass.less';

@formPrefixCls: ~'@{prefixClass}-form';
@formItemAdjustPrefixCls: ~'@{formPrefixCls}-item-adjust';

.@{formPrefixCls} {
  .adm-input {
    --font-size: var(--font-size);
  }

  .adm-text-area {
    --font-size: var(--font-size);
  }
}

.@{formItemAdjustPrefixCls} {
  &.adm-form-item-horizontal {
    .adm-form-item-child {
      height: 100%;
    }

    .adm-form-item-child-inner {
      display: flex;
      align-items: center;

      > * {
        width: 100%;
        margin: -15px 0;
      }
    }
  }
}
