@import '../../config/prefixClass.less';

@prefixCls: ~'@{prefixClass}-scrollLoadView';

.@{prefixCls} {
  --color-danger: var(--adm-color-danger);
  --color-weak: gray;
  --font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  color: var(--color-weak);
  font-size: var(--font-size);
  cursor: default;

  &-error {
    color: var(--color-danger);
  }
}
