.wrapper {
  display: flex;
  padding: 8px 16px;
  font-size: 12px;

  .icon {
    margin-right: 7px;
    font-size: 16px;
    line-height: 18px;
  }

  a {
    color: #1677ff;

    &:active {
      opacity: 0.8;
    }
  }
}
